<div id="app_content">
  <div id="url">
    <dl>
      <dt>Here is your URL</dt>
      <dd><%= link_to @link.permalink, @link.permalink -%></dd> 
    </dl>
    <div id="x_copy_button" style="float:right;">
      <%= clippy(@link.permalink, '#BA0000') -%>
    </div>    

    <div id="x_copied" style="display:none;">
      <p>Your URL is ready for pasting!</p>
    </div>
    
    <p id="original_url_info">Original URL: <span id="original_url"><%= @link.website_url -%></span></p> 
    
    <p><%= link_to 'Shorten another URL', '/' -%> &#8617;</p>
  </div>
</div><!-- end app_content -->
