# PLANET ARGON approved database.yml file
login: &login
  adapter: sqlite3

development:
  database: db/rubyurl_development.sqlite3
  <<: *login

test:
  database: db/rubyurl_test.sqlite3
  <<: *login

production:
  database: db/rubyurl_production.sqlite3
  <<: *login
